body{
    background-color: beige;
}


h3{
    text-align: center;
}
.product{
    background-color: bisque;
    text-align: center;

}
#price{
    font-size: 20px;
}
.card{
    background-color: bisque;
    width: 300px;
    height: 500px;
    padding: 10px;
    border: 1px solid black;
    margin: auto;
    text-align: center;
}

.container{
    display: flex;
    gap: 10px;
   
}

.button{
    position: relative;
    margin-bottom: 10px;
    
}