body{
    background-color: beige;
}
.product{
    background-color: bisque;
    text-align: center;

}
#price{
    font-size: 20px;
}

.card{
    background-color: bisque;
    width: 300px;
    height: auto;
    padding: 10px;
    border: 1px solid black;
    margin: auto;
    text-align: center;
    transition: 0.3s;
}
.card:hover{
    outline: 5px solid gray;
}

.container{
    display: flex;
    gap: 10px;
   
}
.button{
    position: relative;
    
}

